<%
function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function (key) {

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}
%>

<div class="col-sm-6 col-md-4 pizza-card">
    <div class="thumbnail">
        <img src=<%= pizza.icon %>>

        <% if(pizza.is_new) { %>
        <span class="label label-danger">Нова</span>
        <% } else if(pizza.is_popular) { %>
        <span class="label label-success">Популярна</span>
        <% } %>

        <div class="caption"><h3><%= pizza.title %></h3>
            <div class="small-description"><%= pizza.type %></div>
            <p class="description"><%= getIngredientsArray(pizza).join(", ") %></p>
            <div class="row">
                <% if ("small_size" in pizza) { %>
                <div class=
                        <% if ("big_size" in pizza) { %>
                     "left-info col-xs-6">
                    <% } else { %>
                    "left-info col-xs-12">
                    <% } %>
                    <div class="diameter"><%= pizza.small_size.size %></div>
                    <div class="weight"><%= pizza.small_size.weight %></div>
                    <div class="price"><%= pizza.small_size.price %></div>
                    <a class="btn btn-default buy-small">Купити</a>
                </div>
                <% } %>
                <% if ("big_size" in pizza) { %>
                <div class=
                     <% if ("small_size" in pizza) { %>
                     "right-info col-xs-6">
                    <% } else { %>
                    "right-info col-xs-12">
                    <% } %>
                    <div class="diameter"><%= pizza.big_size.size %></div>
                    <div class="weight"><%= pizza.big_size.weight %></div>
                    <div class="price"><%= pizza.big_size.price %></div>
                    <a class="btn btn-default buy-big">Купити</a>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
